<!-- <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="16px">
 
   
      
        <mat-card fxFlex="33" class="graphcard" ><app-salesdashboard ></app-salesdashboard>
        </mat-card>
    
     
        <mat-card fxFlex="33" class="graphcard"><productiondashboard></productiondashboard>
        </mat-card>
    
    
    
        <mat-card fxFlex="33" class="graphcard"><app-salesdashboard ></app-salesdashboard>
        </mat-card>
    
      
        
    
  </div>

 
   <div style="margin: 10px;" fxLayout="row" fxLayoutAlign="start center" >
   
   
    <mat-card style="width: 100%;border-radius: 30px;background-color:rgba(210, 210, 229, 0.33);"  class="graphcardbar" >
        <app-columnbarchart ></app-columnbarchart>
       </mat-card>
        
       
    
     
        
   </div>

   -->